/* root */

:root {
    --default-font: Arial;
    
    --default-text-color: #333333;
    --nav-text-color: #ffffff;
    --footer-text-color: #ffffff;
    
    --white: #ffffff;
    --light-gray: #f1f1f1;
    --dark-gray: #777777;
    --black: #333333;
}

/* IDs */

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    padding: 0;
    margin: 0;
}

/* web */

#web-mount {
    font-family: var(--default-font);
    color: var(--default-text-color);
}

/* header */

#header-mount {
    background: url('img/header-default.png') fixed top center;
    height: 160px;
    width: 100%;
    display: flex;
    position: sticky;
    top: -115px;
    justify-content: center;
    align-items: center;
}

#header-img-notes {
    background: url('img/header-notes.png') fixed top center;
}

#header-img-writing {
    background: url('img/header-writing.png') fixed top center;
}

#header-img-images {
    background: url('img/header-images.png') fixed top center;
}

#header-img-others {
    background: url('img/header-others.png') fixed top center;
}

#header-container {
    height: 100%;
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#header-logo {
    margin: auto 0;
}

#logo {
    height: 70px;
    width: 247.787610619469px;
    display: block;
    padding: 10px 20px;
}

/* nav */

#nav-mount {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-bar {
    width: 800px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#nav-button {
    height: 30px;
    padding: 12px 0 3px 0;
    flex-basis: 100%;
    text-align: center;
    text-decoration: none;
    color: var(--nav-text-color);
    font-size: 14pt;
}

#nav-button:hover {
    background: linear-gradient(transparent, rgba(255,255,255,0.35));
    height: 30px;
    padding: 12px 0 0 0;
    border-bottom: 3px solid white;
}

/* content */

#content-mount {
    background-color: red;
    height: 1200px;
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#content-container-left {
    background-color: orangered;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 75%;
    align-items: center;
}

#content-container-right {
    background-color: orange;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 25%;
    align-items: center;
}

#content-card {
    background-color: yellow;
    height: 200px;
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
}

#content-header {
    background-color: lawngreen;
    height: 50px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#content-title {
    background-color: deepskyblue;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
}

#content-title:hover {
    
}

#content-card:hover #content-date {
    display: inline-block;
}

#content-date {
    background-color: mediumpurple;
    width: 20%;
    padding: 10px;
    display: none;
    justify-content: center;
    align-items: center;
}

#content-body {
    background-color: violet;
    padding: 10px;
    display: flex;
}

/* footer */

#footer-mount {
    background: url('img/header-default.png') fixed top center;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-container {
    height: 35px;
    width: 96%;
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    color: var(--footer-text-color);
    font-size: 11pt;
}

/* mobile */

#mobile-notice {
    max-width: 700px;
    display: none;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    font-size: 16pt;
}

@media screen and (max-width: 808px) {
    #web-mount {
        display: none;
    }
    #mobile-notice {
        display: block;
    }
}